html body {
  font-family: "Quicksand", Arial, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  max-width: 100%;
  overflow-x: hidden;
  font-weight: 300;
}

header a, footer a, footer h3 {
  color: rgba(255, 255, 255, .75) !important;
  text-decoration: none !important;
  transition: .1s;
}

header a:hover, footer a:hover {
  color: rgba(255, 255, 255, .65) !important;
}

header a.active, footer a.active {
  color: rgba(255, 255, 255, .55) !important;
}

nav {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 3;
  font-size: 18px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

nav ul, footer ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

nav ul li, footer ul li {
  list-style: none;
}

@media (min-width: 1281px) {
  nav ul, footer ul {
    width: 30%;
  }
}

@media (max-width: 1280px) {
  nav ul, footer ul {
    width: 50%;
  }
}

header #particles-js {
  width: 100%;
  height: 100vh;
  background-color: #c52030;
}

header .heading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, .75);
}

header .heading .history {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  color: rgba(255, 255, 255, .55);
}

header .heading .history .hist-item {
  border-bottom: 2px solid rgba(255, 255, 255, .2);
}

main section {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1281px) {
  main section {
    flex-direction: column !important;
  }

  main section div.text {
    padding-top: 3%;
  }
}

main section div.text {
  margin: 0 3%;
}

main section img {
  height: 380px;
  width: auto;
}

main section:nth-child(odd) {
  color: #404044;
  background-color: #f8f9fa;
}

main section:nth-child(even) {
  background-color: #c52030;
  color: rgba(255, 255, 255, .65);
  flex-direction: row-reverse;
}

main section:nth-child(even) .heading {
  color: rgba(255, 255, 255, .8);
}

main section.summary {
  flex-direction: column;
}

main section.summary .note {
  align-self: flex-start;
}

footer {
  padding: 2% 0;
  background-color: #a80c1b;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
